.pipazerobuttons-row,.pipaonebuttons-row,.pipatwobuttons-row,.pipathreebuttons-row,.pipafourbuttons-row,.pipafivebuttons-row,.pipasixbuttons-row,.pipasevenbuttons-row,
.keyboardszerobuttons-row,.keyboardsonebuttons-row,.keyboardstwobuttons-row,.keyboardsthreebuttons-row,.keyboardsfourbuttons-row,.keyboardsfivebuttons-row,.keyboardssixbuttons-row,.keyboardssevenbuttons-row,
.basszerobuttons-row,.bassonebuttons-row,.basstwobuttons-row,.bassthreebuttons-row,.bassfourbuttons-row,.bassfivebuttons-row,.basssixbuttons-row,.basssevenbuttons-row,
.drumszerobuttons-row,.drumsonebuttons-row,.drumstwobuttons-row,.drumsthreebuttons-row,.drumsfourbuttons-row,.drumsfivebuttons-row,.drumssixbuttons-row,.drumssevenbuttons-row
 {
  display: flex;
  margin: 0px 15px 0px 15px;
  justify-content: center;
  background-color: #989699;
}
#note-name {
  display: inline;
  margin: 0px;
  font-size: 25px;
  /* font-family: 'Inconsolata', monospace; */
}
.note-name-div {
  width: 100px;
}
#row-parent-div {
  display: flex;
}