#drumsbuttongrid-id, #bassbuttongrid-id, #keyboardsbuttongrid-id, #pipabuttongrid-id {
 /* background-color: #fb8c35; */
 background-color:  #403f46;
 /* background-color: #ffffff; */
 margin: 30px 80px 30px 80px;
 padding: 20px;
}
#instrument-name {
  color: white;
}
.instrument-no-show {
  display: none;
}
.grid-beat-numbers {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}
.grid-beat-numbers p{
  margin-right: 46px;
}

