body {
  text-align: center;
  color: #312f30;
  background-color: #dcdadb;
  font-family: 'Quattrocento', serif;
  font-size: 20px;
}
button {
  margin: 10px;
  background-color: #b4b2b3;
}
h1 {
  color: #b86b41;
}
h2 {
  color: #5274b1;
}
input[type=checkbox] {
  margin: 30px;
}
input[type=checkbox]:checked {
  background-color: red;
}
.instrument-parent-div {
  display: flex;
  justify-content: space-around;
  /* background-color: #312f30; */
  background-color: #c2c0c0;
}
.instrument-pic {
  width: 100%;
}
.instrument-pic-div {
  width: 400px;
  height: 400px;
  margin: 20px;
}
.instrument-inputs {
  /* background-color: #5274b1; */
  background-color: #cdcacb;
  box-shadow: 0.5px 0.5px 0.5px 0.5px black;
  margin: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
}