body {
  text-align: center;
  color: #312f30;
  background-color: #dcdadb;
  font-family: 'Quattrocento', serif;
  font-size: 20px;
}
button {
  margin: 10px;
  background-color: #b4b2b3;
}
h1 {
  color: #b86b41;
}
h2 {
  color: #5274b1;
}

/* .violin-c5 input {
  background-color: red;
  margin: 10px;
  border: 2px solid red;
}
.violin-c5 input {
  background-color: red;
  margin: 10px;
  border: 2px solid red;
}

.violin-c5-input:checked {
  margin: 10px;
  border: 2px solid red;
  background-color: purple;
} */
.input-class {
  background-color: red;
}
input[type=checkbox] {
  margin: 5px;
}
input[type=checkbox]:checked {
  background-color: red;
}

.instrument-parent-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #c2c0c0;
}
.instrument-pic {
  width: 100%;
}
.instrument-pic-div {
  width: 400px;
  height: 400px;
  margin: 20px;
}
.instrument-inputs {
  background-color: #cdcacb;
  box-shadow: 0.2px 0.2px 0.2px 0.2px black;
  margin: 0px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.note-div {
  display: flex;
}

.beat-numbers {
  display: flex;
  justify-content: space-around;
  margin-right: 5px;
}

.drum-parts-text {
  font-size: 60%;
}
.note-names {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}
.note-names p{
  margin: 0px;
}