.select-buttonpipacheckboxes, .select-buttonkeyboardscheckboxes, .select-buttonbasscheckboxes  {
  /* background-color: grey; */
  /* background-color: #30ffd1; */
  background-color: black;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 5px 8px 15px 8px;
  
  /* border-radius: 8px; */
  border-radius: 6px;
}
.select-buttondrumscheckboxes {
  background-color: black;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 15px 8px 25px 8px;
  border-radius: 6px;
}
.select-buttonminor {
  /* background-color: grey; */
  /* background-color: #f2ee81; */
  background-color: black;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 5px 8px 15px 8px;
  /* border-radius: 8px; */
  border-radius: 6px;
}
.select-buttonneutral {
  /* background-color: grey; */
  /* background-color: #f4bff2; */
  background-color: black;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 5px 8px 15px 8px;
  /* border-radius: 8px; */
  border-radius: 6px;
}
.select-buttonneither {
  /* background-color: grey; */
  /* background-color: #f4eef2; */
  background-color: black;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 5px 8px 15px 8px;
  /* border-radius: 8px; */
  border-radius: 6px;
}
#a0pipaselected input {
  background-color: red;
}
#pipacheckboxes input[type="checkbox"] {
  display: none;
}

#pipacheckboxes input[type="checkbox"]:checked + .select-button {
  background-color: #30ffd1;
  box-shadow: 2px 2px 10px cyan;
}

#keyboardscheckboxes input[type="checkbox"] {
  display: none;
}

#keyboardscheckboxes input[type="checkbox"]:checked + .select-button {
  background-color: #f2ee81;
  box-shadow: 2px 2px 10px  #f4ef66;
}

#basscheckboxes input[type="checkbox"] {
  display: none;
}

#basscheckboxes input[type="checkbox"]:checked + .select-button {
  background-color: #f4bff2;
  box-shadow: 2px 2px 10px  magenta;
}

#drumscheckboxes input[type="checkbox"] {
  display: none;
}

#drumscheckboxes input[type="checkbox"]:checked + .select-button {
  background-color: #f4eef2;
  box-shadow: 2px 2px 10px white;
}

